.header-width {
  margin-left: 160px;
  margin-right: 160px;
}

.search-input {
  width: 35vw !important;
  ;
}

.login-btn {
  padding-left: 3vw !important;
  padding-right: 3vw !important;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  pointer-events: none;
}

.search-header {
  background-color: rgb(40 116 240) !important;
}

.header-children:hover {
  color: rgb(40 116 240) !important;
  ;
}

.card-header {
  border-color: rgb(40 116 240) !important;
  line-height: 14px;
}

.user-header-label{
  font-size: 16px;
}